<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../style/style.css"> 

    <title>Desafio Final</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>
    <header>
        <div class="menu">
            <h2 class="logo">CAPPACITA</h2>
            <nav>
                <a href="index.html" >Filmes</a>
                <a href="login.html">Login</a>
                <a href="registrar.html">Registrar</a>
            </nav>
        </div>
    </header>

    <form class="login">
        <h2>Faça teu login</h2><br>
        <div class="form">
            <p>Email :
                <input name="email" type="email">
            </p>
            <p>Senha :
                <input name="senha" type="password">
            </p>
            <button>Entrar</button>
        </div>


    </form>

    
    
    <footer>
        Cappaciter Pâmela Silva <br> <br>
        <a href="http://cappacita.com.br">CAPPACITA DEV</a>
    </footer>
</body>
</html>